.profile-content {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   justify-content: center;
  //   gap: 2rem;
  .profile-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  .profile-details-container {
    margin: 16px;
    padding: 20px;
    border-radius: 8px;
    // min-width: 400px;
    background: rgba(245, 245, 220, 0.6); /* Beige */
    border: 1px solid rgba(210, 210, 200, 0.3);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .profile-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-left: 16px;
      }
    }
  }
  .tabs {
    width: 100%;
    .favourites {
      width: calc(100% - 40px); /* 20px left + 20px right */
      margin: 16px;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 8px;
      // min-width: 400px;
      background: rgba(245, 245, 220, 0.6); /* Beige */
      border: 1px solid rgba(210, 210, 200, 0.3);
      gap: 1rem;

      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      .restaurants-list {
        max-height: 31.25rem;
        overflow-y: scroll;
        scrollbar-width: thin;
      }
    }
    .my-reviews {
      width: calc(100% - 40px); /* 20px left + 20px right */
      margin: 16px;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 8px;
      // min-width: 400px;
      background: rgba(245, 245, 220, 0.6); /* Beige */
      border: 1px solid rgba(210, 210, 200, 0.3);
      gap: 1rem;

      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      .grid {
        display: flex;
        max-height: 31.25rem;
        overflow-y: scroll;
        scrollbar-width: thin; /* For Firefox */
      }

      /* For WebKit browsers (Chrome, Safari, Edge) */
      .grid::-webkit-scrollbar {
        width: 8px; /* Width of the vertical scrollbar */
      }

      .grid::-webkit-scrollbar-track {
        background: #f1f1f1; /* Track background */
        border-radius: 10px; /* Rounded corners for the track */
      }

      .grid::-webkit-scrollbar-thumb {
        background: #888; /* Thumb color */
        border-radius: 10px; /* Rounded corners for the thumb */
      }

      .grid::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darker thumb on hover */
      }
    }
  }

  .error {
    color: red;
    font-size: 12px;
  }
}
